<ons-page id="buyCardPage" ng-controller="buyCardController as $ctrl" ng-init="$ctrl.initialize();">

  <ons-toolbar>
    <div class="left">
      <ons-back-button ng-click="$ctrl.backPage();"></ons-back-button>
    </div>
    <div class="center">買い物カード</div>
    <div class="right" ng-click="$ctrl.modeChange();">
      <span ng-if="!$ctrl.deleteMode">選択</span>
      <span class="delete" ng-if="$ctrl.deleteMode">終了</span>
    </div>
  </ons-toolbar>

  <div class="wrap">
    <div class="card" ng-class="{shiver: $ctrl.deleteMode}" ng-repeat="card in $ctrl.allBuyCard | orderBy: 'createAt'" ng-click="$ctrl.checkCard(card, $index);">
      <div class="card__inner">
        <p>{{card.name}}</p>
        <span>{{card.number}}</span>
      </div>
      <label for="cardId{{$index}}" ng-click="$event.stopPropagation();" ng-if="card.checked"">
      </label>
      <ons-checkbox input-id="cardId{{$index}}" ng-model="card.checked" ng-if="card.checked"></ons-checkbox>
      <ons-icon class="minus-icon" icon="fa-minus-circle" ng-click="$ctrl.deleteCard(card);$event.stopPropagation();" ng-if="$ctrl.deleteMode"></ons-icon>
    </div>
    <div class="card add" ng-click="cardInputDialog.show();">
      <div class="card__inner">
        <ons-icon class="plus-icon" icon="fa-plus"></ons-icon>
        <p class="plus-text">カードを追加</p>
      </div>
    </div>
  </div>

  <ons-dialog class="item-input__dialog" var="cardInputDialog" ons-postHide="$ctrl.resetVal();" cancelable>
    <div class="item-text--wrapper" onclick="this.querySelector('input').focus()">
      <input class="item-text__input" ng-class="{'ios-input': $ctrl.isIOS}" type="text" placeholder="カード名" name="買い物アイテム名" ng-model="$ctrl.cardName" jp-input>
    </div>
    <div class="item-num--wrapper" onclick="this.querySelector('input').focus()">
      <input class="item-num__input" ng-class="{'ios-input': $ctrl.isIOS}" type="text" placeholder="数量" name="買い物アイテム数" ng-model="$ctrl.cardNum" jp-input>
    </div>
    <div class="item-add--wrapper">
      <ons-button class="item-add__button" ng-click="$ctrl.plusCard();">
        <span>登録</span>
      </ons-butoon>
    </div>
  </ons-dialog>

</ons-page>
