<ons-page id="buyDiaryPage" ng-controller="buyDiaryController as $ctrl" ng-init="$ctrl.initialize();">

  <ons-toolbar>
    <div class="left">
      <ons-back-button>
      </ons-back-button>
    </div>
    <div class="center">日記</div>
    <div class="right">
    </div>
  </ons-toolbar>

  <div class="diary--wraper">
    <div class="diary">
      <div class="diary-item" ng-repeat="buyRecord in $ctrl.allBuyRecord | orderBy: 'createAt'" ng-click="$ctrl.openRecord(buyRecord);">
        <div class="date">
          <p class="date-num">
            <span>{{buyRecord.createAt | date: 'd'}}({{buyRecord.createAt | date: 'EEE'}})</span>
          </p>
          <p class="date-month">
            <span>{{buyRecord.createAt | date: 'M'}}月</span>
          </p>
        </div>
        <div class="time">
          {{buyRecord.createAt | date: 'H'}}時{{buyRecord.createAt | date: 'm'}}分の買い物
        </div>
      </div>
    </div>
  </div>

  <ons-dialog var="diaryDialog" class="diary-dialog" cancelable>
    <div class="" ng-repeat="buyItem in $ctrl.recordItems">
      {{buyItem.name}} {{buyItem.number}}
    </div>
  </ons-dialog>
</ons-page>
