<ons-page id="buyDiaryPage" ng-controller="buyDiaryController as $ctrl" ng-init="$ctrl.initialize();">

  <ons-toolbar>
    <div class="left">
      <ons-back-button>
      </ons-back-button>
    </div>
    <div class="center">
      <span ng-if="$ctrl.totalMonthMoney == 0">日記一覧</span>
      <span ng-if="$ctrl.totalMonthMoney > 0">月合計{{$ctrl.totalMonthMoney}}円</span>
    </div>
    <div class="right">
    </div>
  </ons-toolbar>

  <div class="diary--wraper">
    <div class="diary">
      <div class="diary-item" ng-repeat="buyRecord in $ctrl.allBuyRecord | orderBy: '-createAt'" ng-click="$ctrl.openRecord(buyRecord);">
        <div class="date">
          <p class="date-num">
            <span>{{buyRecord.createAt | date: 'd'}}({{buyRecord.createAt | date: 'EEE'}})</span>
          </p>
        </div>
        <div class="time">
          {{buyRecord.createAt | date: 'H'}}時{{buyRecord.createAt | date: 'm'}}分の買い物
        </div>
      </div>
    </div>
  </div>

  <ons-bottom-toolbar class="diary-bottom">
    <p ng-if="$ctrl.allBuyRecord.length > 0">{{$ctrl.allBuyRecord[0].createAt | date: 'M'}}月</p>
  </ons-bottom-toolbar>

  <ons-dialog var="diaryDialog" class="diary-dialog" ons-postHide="$ctrl.moneyInput = false;" cancelable>
    <div class="record">
      <div class="record-list" ng-repeat="buyItem in $ctrl.recordItems.items">
        <p class="record-list__item">
          <span class="record-list__item__name">{{buyItem.name}}</span>
          <span class="record-list__item__number">{{buyItem.number}}</span>
        </p>
      </div>
    </div>
    <div class="record__relative">
      <div class="record__relative__money" ng-click="$ctrl.moneyInput = true;">
        <span>計</span>
        <span ng-if="!$ctrl.moneyInput && $ctrl.recordItems.money > 0">{{$ctrl.recordItems.money}}</span>
        <input type="number" ng-model="$ctrl.recordItems.money" ng-if="$ctrl.moneyInput || !$ctrl.recordItems.money">
        <span class="unit">円</span>
      </div>
      <!-- <div class="record__relative__memo">
        <p>メモ</p>
        <textarea ng-model="buyItem.memo" jp-input></textarea>
      </div> -->
    </div>
    <ons-button ng-if="$ctrl.moneyInput || !$ctrl.recordItems.money" ng-click="$ctrl.registMoney();" ng-disabled="!$ctrl.recordItems.money">金額を登録</ons-button>
  </ons-dialog>
</ons-page>
