/*****************
 *** Custom CSS ***
 *****************/

ons-input[type=text] {
  width: 90%;
}

ons-button[modifier=large] {
  width: initial;
  margin: 10px;
}

ons-splitter-side[side="left"][animation="overlay"] {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: lightyellow;
  color: rgba(255, 0, 0, 0.7);
}

.left-label {
  width: 30%;
  font-size: 16px;
  color: #666;
}

.safeTop {
  top: 20px;
  /* iOS 10 以下の互換性を保つために20px */
  top: constant(safe-area-inset-top);
  /* iOS 11.2未満用 */
  top: env(safe-area-inset-top);
}

.safeBtm {
  /* iOS 11.2以上用 */
  bottom: constant(safe-area-inset-bottom);
  /* iOS 11.2未満用 */
  bottom: env(safe-area-inset-bottom);
  /* iOS 11.2以上用 */
}

#tabbarPage .list {
  overflow-x: hidden;
  margin-top: -1px;
}

#tabbarPage .list-item {
  min-height: 0;
  height: 44px;
  background-color: white;
  margin: 1px 0 -1px 0;
}

#tabbarPage .list-item--material {
  height: 56px;
}

.list-title {
  margin-top: 12px;
}

.hide-children * {
  overflow: hidden;
}

.animation-swipe-right {
  pointer-events: none;
  -webkit-animation: swipe-right .9s ease-in-out forwards;
          animation: swipe-right .9s ease-in-out forwards;
}

.animation-swipe-left {
  pointer-events: none;
  -webkit-animation: swipe-left .9s ease-in-out forwards;
          animation: swipe-left .9s ease-in-out forwards;
}

.animation-remove {
  pointer-events: none;
  -webkit-animation: remove .7s ease-in-out forwards;
          animation: remove .7s ease-in-out forwards;
}

/********************
 *** Animation CSS ***
 ********************/

@-webkit-keyframes swipe-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 0;
    opacity: 0.3;
  }
}

@keyframes swipe-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 0;
    opacity: 0.3;
  }
}

@-webkit-keyframes swipe-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 0;
    opacity: 0.3;
  }
}

@keyframes swipe-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 0;
    opacity: 0.3;
  }
}

@-webkit-keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    height: 0;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    height: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/********************
 共通CSS
********************/

$toolbarIconColor: #ffa07a;

:checked + .checkbox__checkmark:before {
  background: #ffa07a;
  border: none;
}

.button {
  background-color: #ffa07a;

  &:active {
    background-color: #ffa07a
  }
}

.page__content {
  background-color: #ffffff !important;
}

ons-toolbar {
  // background-color: #f !important;

  .toolbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    border: none;
  }

  .left {
    width: 20%;
    img {
      width: 28px;
    }

    .mode-end {
      display: block;
      text-align: center;
      margin: 0 auto;
      color: #000;
      font-weight: bold;
    }
  }

  .center {
    width: 70%;
    color: #000;
    text-align: center;
  }

  .right {
    width: 20%;
    text-align: center;

    span {
      color: #ffa07a;
      font-weight: bold;
    }

    ons-icon {
      font-size: 1.8rem;
      color: #ffa07a;
    }

    .delete {
      color: #696969;
    }
  }
}

/********************
 買うもの一覧CSS
********************/

.main--wrapper {
  height: 100%;

  .buy-list--wrapper {
    height: calc(100% - 70px);

    &.tap-recommend {
      background-image: url('../img/action_tap.png');
      background-size: 22%;
      background-position: center 35%;
      background-repeat: no-repeat;
    }

    .buy-list {
      background: none;
      height: calc(44px * 8.6);
      overflow-y: scroll;

      &__item {
        position: relative;

        .center {
          min-height: 50px;
        }

        &__check{
          margin-right: 12px;
        }

        &__number {
          position: absolute;
          right: 12vw;
          font-size: 0.8rem;
          opacity: 0.8;
        }

        .more-icon {
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12vw;
          height: 100%;
          font-size: 1.6rem;
          color: #bdbdbd;
        }

        .line-through {
          text-decoration: line-through;
        }

        .tenlength-over {
          font-size: 0.7rem;
        }
      }
    }
  }

  .button--wrapper {
    height: 40px;
    margin-bottom: 30px;
    text-align: center;

    .comp-button {
      width: 70%;
      margin: 0 auto;
      font-weight: bold;
    }
  }
}

.back-button {
  padding: 0 10px 0 15px;
}

.back-button__icon {
  fill: #ffa07a;
}

/********************
 項目入力ダイアログCSS
********************/

.item-input__dialog {

  .ios-input::-webkit-input-placeholder {
    position: relative;
    opacity: 0.4;
    top: -0.2rem;
  }

  .item-text--wrapper {
    text-align: center;
    margin: 40px 0 5px;

    .item-text__input {
      font-size: 1.2rem;
      width: 80%;
      height: 30px;
      padding-left: 10px;
    }
  }

  .item-num--wrapper {
    text-align: center;
    margin: 20px 0 5px;

    .item-num__input {
      font-size: 1.2rem;
      width: 80%;
      height: 30px;
      padding-left: 10px;
    }
  }

  .item-add--wrapper {
    margin: 30px 0 30px;
    text-align: center;

    .item-add__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 36px;
      line-height: 36px;
      margin: 0 auto;
      font-weight: bold;
    }
  }
}

/********************
 共通メニューCSS
********************/

.menu-list--wrapper {
  margin-top: 30px;

  .menu-list {
    width: 100%;
    background: none;

    &__item {
      background: none;

      .center {
        min-height: 54px;
      }
    }

    &.bottom-list {
      position: absolute;
      bottom: 100px;
      border-top: 1px solid #eee;
      font-size: 0.75rem;

      .center {
        opacity: 0.8;
      }

      .list-item--chevron:before {
        border-color: #bbb;
        width: 6px;
        height: 6px;
      }
    }
  }

  .list-item--chevron:before {
    border-color: #ffa07a;
    width: 8px;
    height: 8px;
  }
}

/********************
 日記CSS
********************/

.diary--wraper {
  padding-top: 20px;
}

.diary {
  &-item {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 5px 10px;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    animation: ease-in 0.2s fadeIn;

    .date {
      width: 20%;
      height: 100%;
      text-align: center;
      border-right: 1px solid #fff;
      background-color: #ffa07a;
      color: #fff;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;

      p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0;

        span {
        }
      }

      &-num {
        height: 100%;
        font-size: 1rem;
        font-weight: bold;
      }
    }

    .time {
      width: 80%;
      text-align: center;
    }
  }
}

.diary-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
}

.diary-dialog {
  .dialog {
    top: 50%;
    width: 90%;
    height: 80%;
    bottom: auto;
  }

  .dialog-container {
    height: 100%;
  }

  .record {
    max-height: 70%;
    overflow-y: scroll;
  }

  .record-list {
    margin: 10px 20px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dashed #ccc;

      &__name {
      }

      &__number {
        text-align: right;
      }
    }
  }

  .record__relative {
    width: calc(100% - (20px * 2));
    margin: 0 0 0 20px;

    p {
      margin: 0;
    }

    &__money {
      display: block;
      margin-top: 20px;
      text-align: right;
      padding-bottom: 2px;

      input {
        height: 20px;
        padding: 5px;
        font-size: 0.9rem;
      }

      .unit {
        margin-left: 5px;
      }
    }

    &__memo {
      margin-top: 20px;

      textarea {
        width: 100%;
        height: 80px;
        padding: 5px;
        resize: none;
      }
    }
  }

  ons-button {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    display: block;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
  }
}



/********************
 買い物カードCSS
********************/

.wrap {
  padding: 20px 0;
  margin: 0 2vw;
  font-size: 0;
  text-align: left;

  @keyframes shiver {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(1px, 1px) rotateZ(1deg)}
    50% {transform: translate(0px, 1px) rotateZ(0deg)}
    75% {transform: translate(1px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
  }

  .card {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 30vw;
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffa07a;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.12);
    border: 1px solid #ffa07a;
    margin: 1vw 1vw;
    animation: ease-in 0.2s fadeIn;

    &.shiver {
      animation: shiver .4s  infinite;
      z-index: 10;
    }

    &.add {
      border: none;
    }

    &__inner {
      position: absolute;
      text-align: center;

      .plus-icon {
        font-size: 1.6rem;
      }

      .plus-text {
        margin: 10px 0 0;
      }

      p {
        margin: 0;
        font-size: 0.9rem;
      }

      span {
        font-size: 0.8rem;
      }
    }

    label {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid #eee;
      border-radius: 8px;
    }

    ons-checkbox {
      position: absolute;
      z-index: 10;
      right: 5px;
      bottom: 5px;
    }

    .minus-icon {
      position: absolute;
      z-index: 1000;
      padding: 10px;
      top: -20px;
      right: -20px;
      font-size: 1.5rem;
    }

    .fa-minus-circle:before {
      background: #fff;
      border-radius: 50%;
    }
  }
}
